* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
  align-self: stretch;
  padding: 0rem;
}

.o1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(177, 208, 255);
  gap: 10px;
}
.drik {
  padding: 30px;
}
.o2 {
  background-color: rgb(107, 166, 255);
}
.o3 {
  background-color: rgb(52, 132, 252);
}
